@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

*{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .2s linear;
    text-transform: capitalize;
    outline: none;
    text-decoration: none;
}

.btn{
    cursor: pointer;
    border:.2rem solid #ff9f1a;
    color: #ff9f1a;
    background:none;
    padding:.5rem 3rem;
    margin-top: 1rem;
    position: relative;
    z-index: 0;
    font-size: 2rem;
}

.btn::before{
    content: '';
    position: absolute;
    top:0; left: 0;
    height:100%;
    width:100%;
    background: #ff9f1a;
    z-index: -1;
    clip-path: circle(0% at 0% 0%);
    transition: .3s;
}

.btn:hover::before{
    clip-path: circle(100%);
}

.btn:hover{
    color:#fff;
}

.home{
    min-height: 100vh;
    background: url(../images/home.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%);
}

.home h1{
    font-size: 6rem;
    color: #fff;
    text-align: center;
    text-shadow: 0 .3rem .5rem #000;
    padding: 0 1rem;
    text-transform: uppercase;
}

.home .btn{
    box-shadow: 0 .3rem .5rem #000;
    color:#fff;
}
   
.about .row{
    min-height: auto;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 8rem;
}

.about .row .image{
    flex: 1 1 40rem;
    padding: 2rem;
    margin: 2rem 8rem;
}

.about .row .image img{
    height:100%;
    width:100%;
    object-fit: cover;
}

.about .row .content{
    flex: 1 1 40rem;
    padding: 2rem;
    width: 90vw;
}

.about .row .content h1{
    color: #ff9f1a;
    font-size: 4rem;
    margin: 3rem 0;
}

.about .row .content p{
    color: #666;
    font-size: 2rem;
    padding-right: 6rem;
}

header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 0px 7%;
}

header .logo{
    font-size: 4rem;
    color: #fff;
}

header .logo span{
    color: #ff9f1a;
}

header .navbar ul li a.active,
header .navbar ul li a:hover{
    color: #ff9f1a;
}

header .navbar ul{
    list-style: none;
}

header .navbar ul li{
    position: relative;
    float: left;
}

header .navbar ul li a{
    color: #fff;
    font-size: 20px;
    padding: 20px;
    display: block;
}

header .navbar ul li a:hover{
    color: #ff9f1a;
    background: #fff;
}

header .navbar ul li ul{
    position: absolute;
    left: 0;
    width: 200px;
    background: #333;
    display: none;
}

header .navbar ul li ul li{
    width: 100%;
    border-top: 1px solid rgba(0,0,0,1);
}

header .navbar ul li:focus-within > ul,
header .navbar ul li:hover > ul{
    display: initial;
}
#menu-bar{
    display: none;
}

header label{
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    display: none;
}






@media(max-width: 1164px){

    html{
        font-size: 50%;
    }

    header{
       padding: 20px; 
    }

    header label{
        display: initial;
    }

    header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #333;
        border-top: 1px solid rgba(0,0,0,1);
    }

    header .navbar ul li{
        width: 100%;
    }

    header .navbar ul li ul{
        position: relative;
        width: 100%;
    }

    header .navbar ul li ul li{
        background: #333;
    }

    #menu-bar:checked ~ .navbar{
        display: initial;
    }

    .home h1{
        font-size: 5rem;
    }
}